@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#page {
    background: url("/src/assets/images/bg-pattern.svg"),hsl(230, 100%, 99%);
    background-repeat: no-repeat;
}

.range-slider {
    height: .5rem;
    background-color: hsl(224, 65%, 95%)
}

.range-slider .range-slider__range {
    border-radius: 6px;
    background: hsl(174, 77%, 80%)
    /* CSS for active (actively being dragged) range */
}
.range-slider .range-slider__thumb {
    /* CSS for thumbs */
    background: url("/src/assets/images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50%;
    height: 41px;
    width: 41px;
}
.range-slider .range-slider__thumb[data-lower] {
    /* CSS for lower thumb */
    width: 0;
}

.range-slider__thumb:hover {
        filter: brightness(110%);
        opacity: 60%;
        box-shadow: 0 18px 35px hsl(174, 86%, 45%)
}